/* 공통 */
[class*="title"] {
  font-size: min(4.8rem, 5vw);
}

[class*="desc"] {
  font-size: min(1.6rem, 1.8vw);
}

[class$="__btn"] {
  padding: 1.5rem 2.9rem;
  font-size: 1.6rem;
}

[class$="__img"] {
  border-radius: 3rem;
}

/* header */
.header {
  padding: 3.1rem 2rem;

  justify-content: space-around;
}

/* header - logo */
.header__logo img {
  width: min(13rem, 13vw);
  aspect-ratio: 130/40;
}

/* header - nav */
.nav__btn--open {
  display: none;
}

.header__nav {
  position: static;
  transition: none;
  background-color: inherit;
  padding: 0;
  width: max-content;
  height: max-content;

  color: var(--text-black);
}

.nav__btn--close {
  display: none;
}

.nav__list {
  margin-top: 0;
  flex-direction: row;
}

.nav__item {
  margin-left: 0;
}

.nav__btn--download {
  margin-top: 0;
  margin-left: 3rem;
}

/* main - intro */
.intro {
  padding: 0;

  text-align: left;

  flex-direction: row;
  justify-content: center;
  gap: min(12.8rem, 10vw);
}

.intro::after {
  width: 41.5rem;
  height: 76.6rem;

  background-position-y: 10rem;
  margin-top: -10rem;
}

.intro__title--mobile {
  display: inline;
}

.intro__text {
  width: 73.7rem;
  align-items: start;
  gap: 4rem;
}

.intro__desc {
  width: 43.9rem;
}

/* main - inform */
.inform {
  width: 100vw;
  padding: 8rem 0;

  flex-direction: row;
  gap: min(11rem, 4vw);
}

.inform__img {
  width: min(66rem, 46vw);
  aspect-ratio: 660/360;
}

.inform__text {
  width: min(51rem, 40vw);

  flex-shrink: 0;
}

.inform__desc {
  margin-top: 4rem;
}

/* main - feature */
.feature {
  margin-top: 12rem;
}

.feature__desc {
  margin-top: 4rem;
}

.feature__imgs {
  align-self: auto;
  margin-top: 8.8rem;

  justify-content: center;
  gap: min(7.2rem, 2vw);
}

.feature__item {
  width: min(37.8rem, 30vw);
}

.feature__post {
  margin-top: 9rem;
  width: min(93.8rem, 90vw);

  flex-direction: row;
  align-items: center;
  gap: min(5.2rem, 4vw);
}

.more__btn {
  align-self: auto;

  flex-shrink: 0;
}

/* main - subscribe */
.subscribe {
  margin: 9rem auto 0;
  padding: min(5rem, 3vw) min(5.8rem, 3.2vw);
  border-radius: 3rem;
  width: fit-content;

  flex-direction: row;
  align-items: center;
  gap: min(14.3rem, 1vw);
}

.subscribe__cont {
  width: min(49.1rem, 35vw);
}

.subscribe__title {
  font-size: min(3.6rem, 3.7vw);
}

.subscribe__desc {
  margin-top: 1.8rem;
  font-size: min(1.4rem, 1.7vw);
}

.subscribe__form {
  margin-top: 0;
  background-color: var(--text-white);
  border-radius: 5rem;
  padding: 0.5rem;
  gap: min(2rem, 1vw);

  font-size: 1.6rem;

  flex-direction: row;
}

.subscribe__input-wrap {
  padding-left: min(6.8rem, 6vw);
}

.subscribe__input-wrap::before {
  width: 2.4rem;
  height: 2.4rem;
  left: min(2.8rem, 2vw);
}

/* footer */
.footer::before {
  height: 34rem;
  margin-top: -9rem;
}

.footer__cont-wrap {
  padding: 4.5rem 0;
  flex-direction: column;
}

.footer__cont {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__logo img {
  width: min(22.6rem, 19vw);
  aspect-ratio: 226/70;
}

.footer__nav {
  display: none;
}

.sns {
  gap: 2rem;
}

.sns__link {
  background-color: var(--icon-bg-color);
  padding: 0.9rem;
  border-radius: 50%;
}

.sns__link img {
  width: 2.4rem;
  height: 2.4rem;
}

/* modal */
.modal {
  padding: 6rem 10.5rem 4rem;
  width: max-content;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.modal::before {
  width: 11rem;
  height: 11.2rem;
}

.modal__title {
  font-size: 3.6rem;
}

.modal__desc {
  margin-top: 1.2rem;
  font-size: 1.4rem;
}

.modal__btn {
  margin-top: 3.8rem;
}
